  <!--== Start Header Wrapper ==-->
<header class="header-area sticky-header header-transparent">
  <div class="container" style="padding-left: 20px; padding-right: 20px">
    <div class="row align-items-center">
      <div class="col-5 col-lg-2 col-xl-1">
        <div class="header-logo">
          <a routerLink="">
            <img class="logo-main" src="assets/images/logo2.png" width="95" height="68" alt="Logo" />
          </a>
        </div>
      </div>
      <div class="col-lg-7 col-xl-7 d-none d-lg-block">
        <div class="header-navigation ps-7">
          <ul class="main-nav justify-content-start">
            <li>
              <a routerLink="">home</a>
            </li>
            <li>
              <a routerLink="/shope">shop</a>
            </li>
            <li><a routerLink="/about">about</a></li>
            <li><a routerLink="/contact">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="col-7 col-lg-3 col-xl-4">
        <div class="header-action justify-content-end">

          <button type="button" class="header-action-btn" routerLink="/wishlist">
            <span class="icon">
              <i class="fas fa-heart"></i>
            </span>
          </button>

          <button class="header-action-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#AsideOffcanvasCart" aria-controls="AsideOffcanvasCart">
            <span class="icon">
              <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <rect class="icon-rect" width="30" height="30" fill="url(#pattern2)" />
                <defs>
                  <pattern id="pattern2" patternContentUnits="objectBoundingBox" width="1" height="1">
                    <use xlink:href="#image0_504:9" transform="scale(0.0333333)" />
                  </pattern>
                  <image id="image0_504:9" width="30" height="30" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAABFUlEQVRIie2VMU7DMBSGvwAqawaYuAmKxCW4A1I5Qg4AA93KBbp1ZUVUlQJSVVbCDVhgzcTQdLEVx7WDQ2xLRfzSvzzb+d6zn2MYrkugBBYevuWsHKiFn2JBMwH8Bq6Aw1jgBwHOYwGlPgT4LDZ4I8BJDNiEppl034UEJ8DMAJ0DByHBACPgUYEugePQUKkUWAmnsaB/Ry/YO9aXCwlT72AdrqaWEohwBWxSwc8ReIVtYIr5bM5pXqO+Men7rozGlkVSv4lJj1WQfsbvXVkNVNk1eEK4ik9/yuwzAPhLh5iuU4jtftMDR4ZJJXChxTJ2H3zXGDgWc43/X2Wro8G81a8u2fXU2nXiLVAxvNIKuPGW/r/2SltF+a3Rkw4pmwAAAABJRU5ErkJggg==" />
                </defs>
              </svg>
            </span>
          </button>

          <a class="header-action-btn" routerLink="/profile" *ngIf="isLogged">
            <span class="icon">
              <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                <rect class="icon-rect" width="30" height="30" fill="url(#pattern3)" />
                <defs>
                  <pattern id="pattern3" patternContentUnits="objectBoundingBox" width="1" height="1">
                    <use xlink:href="#image0_504:10" transform="scale(0.0333333)" />
                  </pattern>
                  <image id="image0_504:10" width="30" height="30" xlink:href="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB4AAAAeCAYAAAA7MK6iAAAABmJLR0QA/wD/AP+gvaeTAAABEUlEQVRIie3UMUoDYRDF8Z8psqUpLBRrBS+gx7ATD6E5iSjeQQ/gJUzEwmChnZZaKZiQ0ljsLkhQM5/5Agr74DX7DfOfgZ1Hoz+qAl30Marcx2H1thCtY4DJN76parKqmAH9DM+6eTcArX2QE3yVAO7lBA8TwMNIw6UgeJI46My+rWCjUQL0LVIUBd8lgEO1UfBZAvg8oXamCuWNRu64nRNMmUo/wReSXLXayoDoKc9miMvqW/ZNG2VRNLla2MYudrCFTvX2intlnl/gGu/zDraGYzyLZ/UTjrD6G2AHpxgnAKc9xgmWo9BNPM4BnPYDNiLg24zQ2oNpyFdZvRKZLlGhnvvKPzXXti/Yy7hEo3+iD9EHtgdqxQnwAAAAAElFTkSuQmCC" />
                </defs>
              </svg>
            </span>
          </a>
          <a class="header-action-btn" routerLink="/login" *ngIf="!isLogged">Login</a>
          <a class="header-action-btn" routerLink="/signup" style="width: 20%;" *ngIf="!isLogged">Sign Up</a>
          <button class="header-action-btn" *ngIf="isLogged" (click)="LogOut()" title="Logout"><i class="fa-solid fa-right-from-bracket"></i></button>
          <div id="google_translate_element" class="p-2"></div>
          <button class="header-menu-btn" type="button" data-bs-toggle="offcanvas" data-bs-target="#AsideOffcanvasMenu" aria-controls="AsideOffcanvasMenu">
            <span></span>
            <span></span>
            <span></span>
          </button>
        </div>
      </div>
    </div>
  </div>
</header>
<!--== End Header Wrapper ==-->
