    <!--== Wrapper Start ==-->
<div class="wrapper">
  <main class="main-content">

    <!--== Start Page Header Area Wrapper ==-->
    <section class="page-header-area pt-10 pb-9" data-bg-color="#FFF3DA" style="background-color: #FFF3DA; margin-top: 80px">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="page-header-st3-content text-center text-md-start">
              <h2 class="page-header-title">Checkout</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Page Header Area Wrapper ==-->
    <!--== Start Shopping Checkout Area Wrapper ==-->
    <section class="shopping-checkout-wrap section-space">
      <div class="container">
        <div class="checkout-page-coupon-wrap">
          <!--== Start Checkout Coupon Accordion ==-->
          <div class="coupon-accordion" id="CouponAccordion">
            <div class="card">
              <h3>
                <i class="fa fa-info-circle"></i>
                Have a Coupon?
                <a href="#/" data-bs-toggle="collapse" data-bs-target="#couponaccordion">Click here to enter your code</a>
              </h3>
              <div id="couponaccordion" class="collapse" data-bs-parent="#CouponAccordion">
                <div class="card-body">
                  <div class="apply-coupon-wrap">
                    <p>If you have a coupon code, please apply it below.</p>
                    <form action="#" method="post">
                      <div class="row">
                        <div class="col-md-6">
                          <div class="form-group">
                            <input class="form-control" type="text" placeholder="Coupon code">
                          </div>
                        </div>
                        <div class="col-md-6">
                          <button type="button" class="btn-coupon">Apply coupon</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--== End Checkout Coupon Accordion ==-->
        </div>
        <div class="row">
          <div class="col-lg-6">
            <!--== Start Billing Accordion ==-->
            <div class="checkout-billing-details-wrap">
              <h2 class="title">Billing details</h2>
              <div class="billing-form-wrap">
                <form action="#" method="post">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="f_name">First name <abbr class="required" title="required">*</abbr></label>
                        <input id="f_name" type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-6">
                      <div class="form-group">
                        <label for="l_name">Last name <abbr class="required" title="required">*</abbr></label>
                        <input id="l_name" type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-12 mb-4">
                      <div class="form-group">
                        <label for="country">Country <abbr class="required" title="required">*</abbr></label>
                        <select id="country" class="form-control wide">
                          <option>Jordan</option>
                          <option>Saudi Arabia</option>
                          <option>Palastine</option>
                          <option>Lebanon</option>
                        </select>
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="street-address">Street address <abbr class="required" title="required">*</abbr></label>
                        <input id="street-address" type="text" class="form-control" placeholder="House number and street name">
                      </div>
                      <div class="form-group">
                        <label for="street-address2" class="visually-hidden">Street address 2 <abbr class="required" title="required">*</abbr></label>
                        <input id="street-address2" type="text" class="form-control" placeholder="Apartment, suite, unit etc. (optional)">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="town">City <abbr class="required" title="required">*</abbr></label>
                        <input id="town" type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="pz-code">Postcode / ZIP (optional)</label>
                        <input id="pz-code" type="text" class="form-control">
                      </div>
                    </div>
                    <div class="col-md-12">
                      <div class="form-group">
                        <label for="email">Email address <abbr class="required" title="required">*</abbr></label>
                        <input id="email" type="text" class="form-control">
                      </div>
                    </div>

                  </div>
                </form>
              </div>
            </div>
            <!--== End Billing Accordion ==-->
          </div>
          <div class="col-lg-6">
            <!--== Start Order Details Accordion ==-->
            <div class="checkout-order-details-wrap">
              <div class="order-details-table-wrap table-responsive">
                <h2 class="title mb-25">Your order</h2>
                <table class="table">
                  <thead>
                    <tr>
                      <th class="product-name">Product</th>
                      <th class="product-total">Total</th>
                    </tr>
                  </thead>
                  <tbody class="table-body">
                    <tr class="cart-item" *ngFor="let item of cartItems">
                      <td class="product-name">
                        {{item.productName}} <span class="product-quantity">{{item.quantity}}</span>
                      </td>
                      <td class="product-total">{{item.productPrice}}</td>
                    </tr>
                    <!--<tr class="cart-item">
                      <td class="product-name">Printed cotton t-shirt <span class="product-quantity">× 1</span></td>
                      <td class="product-total">20.00 JD</td>
                    </tr>-->
                  </tbody>
                  <tfoot class="table-foot">
                    <tr class="cart-subtotal">
                      <th>Subtotal</th>
                      <td>{{ totalPrice}} JD</td>
                    </tr>
                    <tr class="shipping">
                      <th>Shipping</th>
                      <td> 0.00 JD</td>
                    </tr>
                    <tr class="order-total">
                      <th>Total </th>
                      <td>{{ totalPrice}} JD</td>
                    </tr>
                  </tfoot>
                </table>
                <div class="shop-payment-method">
                  <div id="PaymentMethodAccordion">
                    <div class="card">
                      <div class="card-header" id="check_payments">
                        <h5 class="title" data-bs-toggle="collapse" data-bs-target="#itemOne" aria-controls="itemOne" aria-expanded="true">Credit Card</h5>
                      </div>
                    </div>
                    <div class="card">
                      <div class="card-header" id="check_payments2">
                        <h5 class="title" data-bs-toggle="collapse" data-bs-target="#itemTwo" aria-controls="itemTwo" aria-expanded="false">Orange Money</h5>
                      </div>
                    </div>
                  </div>
                  <p class="p-text">Your personal data will be used to process your order, support your experience throughout this website, and for other purposes described in our <a href="#/">privacy policy.</a></p>
                  <div class="agree-policy">
                    <div class="custom-control custom-checkbox">
                      <input type="checkbox" id="privacy" class="custom-control-input visually-hidden">
                      <label for="privacy" class="custom-control-label">I have read and agree to the website terms and conditions <span class="required">*</span></label>
                    </div>
                  </div>
                  <a class="btn-place-order" (click)="placeOrder()">Place order</a>
                </div>
              </div>
            </div>
            <!--== End Order Details Accordion ==-->
          </div>
        </div>

      </div>
    </section>
    <!--== End Shopping Checkout Area Wrapper ==-->
  </main>
</div>
