    <!--== Wrapper Start ==-->
<div class="wrapper">

  <main class="main-content">

    <!--== Start Page Header Area Wrapper ==-->
    <section class="page-header-area pt-10 pb-9" data-bg-color="#FFF3DA" style="background-color: #FFF3DA; margin-top: 80px">
      <div class="container">
        <div class="row">
          <div class="col-md-5">
            <div class="page-header-st3-content text-center text-md-start">
              <h2 class="page-header-title">Product Details</h2>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--== End Page Header Area Wrapper ==-->
    <!--== Start Product Details Area Wrapper ==-->
    <section class="section-space">
      <div class="container">
        <div class="row product-details">
          <div class="col-lg-6">
            <div class="product-details-thumb">
              <img src="{{product.image}}" width="570" height="693" alt="Image">
              <span class="flag-new" *ngIf="+product.discount > 0">On Sale</span>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="product-details-content">
              <!--<h5 class="product-details-collection">Premioum collection</h5>-->
              <!-- share-button.component.html -->
              <!--<button (click)="shareOnFacebook()">Share on Facebook</button>-->

              <h3 class="product-details-title">{{product.name}}</h3>
              <!--<div class="product-details-review mb-7">
                <div class="product-review-icon">
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-o"></i>
                  <i class="fa fa-star-half-o"></i>
                </div>
                <button type="button" class="product-review-show">150 reviews</button>
              </div>-->
              <p class="mb-7">{{product.description}}</p>
              <!--<div class="product-details-pro-qty">
                <div class="pro-qty">
                  <input type="text" title="Quantity" value="01">
                </div>
              </div>-->
              <div class="product-details-shipping-cost">
                <button type="submit" class="btn" (click)="shareOnFacebook()"><i class="fa-solid fa-share" style="color: #ffffff;"></i></button>

              </div>
              <div class="product-details-action">
                <h4 class="price">{{product.price}}JD</h4>
                <div class="product-details-cart-wishlist">
                  <button type="button" class="btn-wishlist" data-bs-toggle="modal" data-bs-target="#action-WishlistModal"><i class="fa fa-heart-o"></i></button>
                  <button (click)="addToCart(product)" type="button" class="btn">Add to cart</button>
                </div>
              </div>
            </div>
          </div>
        </div>

        <!--<div class="row">
          <div class="col-lg-7">
            <div class="nav product-details-nav" id="product-details-nav-tab" role="tablist">
              <button class="nav-link" id="specification-tab" data-bs-toggle="tab" data-bs-target="#specification" type="button" role="tab" aria-controls="specification" aria-selected="false">Specification</button>
              <button class="nav-link active" id="review-tab" data-bs-toggle="tab" data-bs-target="#review" type="button" role="tab" aria-controls="review" aria-selected="true">Review</button>
            </div>
            <div class="tab-content" id="product-details-nav-tabContent">
              <div class="tab-pane" id="specification" role="tabpanel" aria-labelledby="specification-tab">
                <ul class="product-details-info-wrap">
                  <li>
                    <span>Weight</span>
                    <p>250 g</p>
                  </li>
                  <li>
                    <span>Dimensions</span>
                    <p>10 x 10 x 15 cm</p>
                  </li>
                  <li>
                    <span>Materials</span>
                    <p>60% cotton, 40% polyester</p>
                  </li>
                  <li>
                    <span>Other Info</span>
                    <p>American heirloom jean shorts pug seitan letterpress</p>
                  </li>
                </ul>

                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eius velit corporis quo voluptate culpa soluta, esse accusamus, sunt quia omnis amet temporibus sapiente harum quam itaque libero tempore. Ipsum, ducimus. lorem</p>
              </div>

              <div class="tab-pane fade show active" id="review" role="tabpanel" aria-labelledby="review-tab">-->
                <!--== Start Reviews Content Item ==-->
                <!--<div class="product-review-item">
                  <div class="product-review-top">
                    <div class="product-review-thumb">
                      <img src="assets/images/shop/product-details/comment1.webp" alt="Images">
                    </div>
                    <div class="product-review-content">
                      <span class="product-review-name">Tomas Doe</span>
                      <span class="product-review-designation">Delveloper</span>
                      <div class="product-review-icon">
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-o"></i>
                        <i class="fa fa-star-half-o"></i>
                      </div>
                    </div>
                  </div>
                  <p class="desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed viverra amet, sodales faucibus nibh. Vivamus amet potenti ultricies nunc gravida duis. Nascetur scelerisque massa sodales.</p>
                  <button type="button" class="review-reply"><i class="fa fa fa-undo"></i></button>
                </div>-->
                <!--== End Reviews Content Item ==-->
              <!--</div>
            </div>
          </div>
          <div class="col-lg-5">
            <div class="product-reviews-form-wrap">
              <h4 class="product-form-title">Leave a replay</h4>
              <div class="product-reviews-form">
                <form action="#">
                  <div class="form-input-item">
                    <textarea class="form-control" placeholder="Enter you feedback"></textarea>
                  </div>
                  <div class="form-input-item">
                    <input class="form-control" type="text" placeholder="Full Name">
                  </div>
                  <div class="form-input-item">
                    <input class="form-control" type="email" placeholder="Email Address">
                  </div>
                  <div class="form-input-item">
                    <div class="form-ratings-item">
                      <select id="product-review-form-rating-select" class="select-ratings">
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                      </select>
                      <span class="title">Provide Your Ratings</span>
                      <div class="product-ratingsform-form-wrap">
                        <div class="product-ratingsform-form-icon">
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                          <i class="fa fa-star-o"></i>
                        </div>
                        <div id="product-review-form-rating" class="product-ratingsform-form-icon-fill">
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                          <i class="fa fa-star"></i>
                        </div>
                      </div>
                    </div>
                    <div class="reviews-form-checkbox">
                      <input class="form-check-input" type="checkbox" value="" id="ReviewsFormCheckbox" checked>
                      <label class="form-check-label" for="ReviewsFormCheckbox">Provide ratings anonymously.</label>
                    </div>
                  </div>
                  <div class="form-input-item mb-0">
                    <button type="submit" class="btn">SUBMIT</button>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>-->

      </div>
    </section>
    <!--== End Product Details Area Wrapper ==-->
    <!--== Start Product Banner Area Wrapper ==-->
    <!--<div class="container">-->
      <!--== Start Product Category Item ==-->
      <!--<a href="product.html" class="product-banner-item">
        <img src="assets/images/shop/banner/7.webp" width="1170" height="240" alt="Image-HasTech">
      </a>-->
      <!--== End Product Category Item ==-->
    <!--</div>-->
    <!--== End Product Banner Area Wrapper ==-->

  </main>

  <!--== Scroll Top Button ==-->
  <div id="scroll-to-top" class="scroll-to-top"><span class="fa fa-angle-up"></span></div>








</div>
<!--== Wrapper End ==-->
