body {
  background-color: #f9f7f4;
  font-family: 'Arial', sans-serif;
}

.wishlist-container {
  margin: 10px 0;
  padding: 20px;
  border-radius: 12px;
  background-color: #fff;
}
.page-header-area {
  padding-top: 100px !important; 
  padding-bottom: 9px;
}


.wishlist-header {
  text-align: center;
  margin-bottom: 30px;
}

h2 {
  color: #000;
  font-size: 28px;
  font-weight: bold !important;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.wishlist-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  padding: 10px;
  border-radius: 8px;
  background-color: #f9f9f9;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}

  .wishlist-item img {
    width: 80px;
    height: 80px;
    border-radius: 8px;
    object-fit: cover;
    margin-right: 20px;
  }

.wishlist-item-details {
  flex: 1;
}

.wishlist-item-title {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.wishlist-item-price {
  font-size: 1.1rem;
  color: #FF948A;
  margin-top: 5px;
}

.remove-btn {
  background-color: #FF948A;
  border: none;
  padding: 8px 12px;
  color: white;
  font-size: 1rem;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

  .remove-btn:hover {
    background-color: #d18b77;
  }
