<div class="container mt-4">
  <div class="card shadow-lg rounded-3">
    <div class="card-header bg-pink text-white d-flex justify-content-between align-items-center">
      <h3 class="mb-0">All Categories</h3>

      <div class="d-flex align-items-center">
        <button (click)="startListening()" class="btn btn-light me-2" title="Search by voice">
          🎤
        </button>
        <a routerLink="/dashboard/addCategory" class="btn btn-light-pink text-white" style="padding: 0.90rem 1.25rem;">
          Add Category
        </a>
      </div>
    </div>

    <!-- Search input -->
    <div class="container card-header mt-3 bg-pink text-white">
      <input type="text"
             [(ngModel)]="searchQuery"
             placeholder="Search by category name..."
             class="form-control" />
    </div>

    <div class="container mt-2" style="max-height: 65vh; overflow-y: auto;">
      <div class="card shadow-lg rounded-3">
        <div class="card-body">
          <table class="table table-striped table-hover text-center">
            <thead class="table-pink">
              <tr>
                <th scope="col">Name</th>
                <th scope="col">Description</th>
                <th scope="col">Image</th>
                <th scope="col">Action</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let item of filteredCategories">
                <td>{{ item.name }}</td>
                <td>{{ item.description }}</td>
                <td>
                  <img [src]="item.image" alt="{{ item.image }}" width="80" height="40">
                </td>
                <td>
                  <a routerLink="/dashboard/editCategory/{{ item.id }}" class="text-decoration-none text-pink">Edit</a>
                  |
                  <a (click)="DeleteCategory(item.id)" class="text-decoration-none text-pink">
                    <i class="bi bi-trash"></i>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
