#content {
  max-width: 1200px;
  display: flex;
  flex-direction: row;
  font-family: "Open Sans", Helvetica, sans-serif;
}

.testimonial blockquote {
  margin: 10px 10px 0;
  background: #ffd8cc;
  padding: 20px 60px;
  position: relative;
  border: none;
  border-radius: 8px;
  font-style: italic;
}

  .testimonial blockquote:before,
  .testimonial blockquote:after {
    content: "\201C";
    position: absolute;
    font-size: 80px;
    line-height: 1;
    color: #ff6565;
    font-style: normal;
  }

  .testimonial blockquote:before {
    top: 0;
    left: 10px;
  }

  .testimonial blockquote:after {
    content: "\201D";
    right: 10px;
    bottom: -0.5em;
  }

.testimonial div {
  width: 0;
  height: 0;
  border-left: 0 solid transparent;
  border-right: 20px solid transparent;
  border-top: 20px solid #efefef;
  margin: 0 0 0 60px;
}

.testimonial p {
  margin: 8px 0 0 20px;
  text-align: left;
  color: #000;
}


h2 {
  position: relative;
  width: fit-content;
  justify-self: center !important;
}

  h2 ::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    background: #ff6565;
    height: 10px;
    width: 100%;
    content: '';
    opacity: .5;
    bottom: 7px;
    z-index: -1;
  }

