
<!--== Wrapper Start ==-->
<div class="wrapper">
  <main class="main-content">

    <!--== Start Hero Area Wrapper ==-->
    <section class="hero-slider-area position-relative">
      <div class="swiper hero-slider-container">
        <div class="swiper-wrapper">
          <div class="swiper-slide hero-slide-item">
            <div class="container">
              <div class="row align-items-center position-relative">
                <div class="col-12 col-md-6">
                  <div class="hero-slide-content">
                    <div class="hero-slide-text-img"><img src="assets/images/slider/text-theme.webp" width="427" height="232" alt="Image"></div>
                    <h2 class="hero-slide-title">CLEAN FRESH</h2>
                    <p class="hero-slide-desc">Discover products designed to cleanse and nourish, leaving your skin feeling fresh, clean, and radiant all day long.</p>
                    <a class="btn btn-border-dark" href="product.html">BUY NOW</a>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="hero-slide-thumb">
                    <img src="assets/images/slider/slider1.webp" width="841" height="832" alt="Image">
                  </div>
                </div>
              </div>
            </div>
            <div class="hero-slide-text-shape"><img src="assets/images/slider/text1.webp" width="70" height="955" alt="Image"></div>
            <div class="hero-slide-social-shape"></div>
          </div>
          <div class="swiper-slide hero-slide-item">
            <div class="container">
              <div class="row align-items-center position-relative">
                <div class="col-12 col-md-6">
                  <div class="hero-slide-content">
                    <div class="hero-slide-text-img"><img src="assets/images/slider/text-theme.webp" width="427" height="232" alt="Image"></div>
                    <h2 class="hero-slide-title">Facial Cream</h2>
                    <p class="hero-slide-desc">
                      Indulge in skincare that deeply cleanses and revitalizes, giving your skin a fresh, healthy glow.

                    </p>
                    <a class="btn btn-border-dark" href="product.html">BUY NOW</a>
                  </div>
                </div>
                <div class="col-12 col-md-6">
                  <div class="hero-slide-thumb">
                    <img src="assets/images/slider/slider2.webp" width="841" height="832" alt="Image">
                  </div>
                </div>
              </div>
            </div>
            <div class="hero-slide-text-shape"><img src="assets/images/slider/text1.webp" width="70" height="955" alt="Image"></div>
            <div class="hero-slide-social-shape"></div>
          </div>
        </div>
        <!--== Add Pagination ==-->
        <div class="hero-slider-pagination"></div>
      </div>
      <div class="hero-slide-social-media">
        <a href="https://www.pinterest.com/" target="_blank" rel="noopener"><i class="fa fa-pinterest-p"></i></a>
        <a href="https://twitter.com/" target="_blank" rel="noopener"><i class="fa fa-twitter"></i></a>
        <a href="https://www.facebook.com/" target="_blank" rel="noopener"><i class="fa fa-facebook"></i></a>
      </div>
    </section>
    <!--== End Hero Area Wrapper ==-->
    <!--== Start Product Category Area Wrapper ==-->
    <section class="section-space pb-0">
      <div class="container">
        <div class="row g-3 g-sm-6">
          <div class="col-6 col-lg-4 col-lg-2 col-xl-2" *ngFor="let category of displayedCategories">
            <!--== Start Product Category Item ==-->
            <a routerLink="/Product/{{category.id}}" class="product-category-item">
              <img class="icon" src="{{category.image}}" width="70" height="80" alt="Image-HasTech">
              <h3 class="title">{{category.name}}</h3>
              <!--<span class="flag-new">new</span>-->
            </a>
            <!--== End Product Category Item ==-->
          </div>
        </div>
      </div>
    </section>
    <!--== End Product Category Area Wrapper ==-->
    <!--== Start Product Area Wrapper ==-->
    <section class="section-space">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title text-center">
              <h2 class="title">Top sale<span></span></h2>
              <p>
                Exclusive discounts on all your favorite products. Don't miss out on the biggest sale of the season – everything you need, at prices you can't resist! Shop now and save big!

              </p>
            </div>
          </div>
        </div>
        <div class="row mb-n4 mb-sm-n10 g-3 g-sm-6">
          <div class="col-6 col-lg-4 mb-4 mb-sm-9" *ngFor="let product of discountedProducts">
            <!--== Start Product Item ==-->
            <div class="product-item">
              <div class="product-thumb" style="height: 500px;">
                <a class="d-block"  routerLink="/Product-Details/{{product.id}}">
                  <img [src]="product.image" width="370" height="450" alt="Image-HasTech">
                </a>
                <span class="flag-new">on sale</span>
                <div class="product-action">

                  <button type="button"
                          class="product-action-btn action-btn-quick-view"
                          [routerLink]="['/reviews', product.id]">
                    <i class="fas fa-star"></i>
                  </button>




                  <button (click)="addToCart(product)" type="button" class="product-action-btn action-btn-cart">
                    <span><i class="fas fa-shopping-cart"></i> Add to cart</span>
                  </button>

                  <button type="button" class="product-action-btn action-btn-wishlist" (click)="getProductById(product.id); $event.stopPropagation();">
                    <i class="fas fa-heart"></i>
                  </button>

                </div>
              </div>
              <div class="product-info">
                <h4 class="title"><a href="product-details.html">{{ product.name }}</a></h4>
                <div class="prices">
                  <span class="price">{{ product.price }} JOD</span>
                  <span *ngIf="product.discount" class="price-old">
                    {{ calculateOldPrice(product.price, product.discount) }} JOD
                  </span>
                </div>
              </div>

              <div class="product-action">

                <button type="button"
                        class="product-action-btn action-btn-quick-view"
                        [routerLink]="['/reviews', product.id]">
                  <i class="fas fa-star"></i>
                </button>




                <button (click)="addToCart(product)" type="button" class="product-action-btn action-btn-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                  <span><i class="fas fa-shopping-cart"></i> Add to cart</span>
                </button>

                <button type="button" class="product-action-btn action-btn-wishlist" (click)="getProductById(product.id); $event.stopPropagation();">
                  <i class="fas fa-heart"></i>
                </button>

              </div>

            </div>
            <!--== End prPduct Item ==-->
          </div>
        </div>
      </div>
    </section>
    <!--== End Product Area Wrapper ==-->
    <!--== Start Product Banner Area Wrapper ==-->
    <section>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-lg-4">
            <!--== Start Product Category Item ==-->
            <a href="product.html" class="product-banner-item">
              <img src="assets/images/shop/banner/1.webp" width="370" height="370" alt="Image-HasTech">
            </a>
            <!--== End Product Category Item ==-->
          </div>
          <div class="col-sm-6 col-lg-4 mt-sm-0 mt-6">
            <!--== Start Product Category Item ==-->
            <a href="product.html" class="product-banner-item">
              <img src="assets/images/shop/banner/2.webp" width="370" height="370" alt="Image-HasTech">
            </a>
            <!--== End Product Category Item ==-->
          </div>
          <div class="col-sm-6 col-lg-4 mt-lg-0 mt-6">
            <!--== Start Product Category Item ==-->
            <a href="product.html" class="product-banner-item">
              <img src="assets/images/shop/banner/3.webp" width="370" height="370" alt="Image-HasTech">
            </a>
            <!--== End Product Category Item ==-->
          </div>
        </div>
      </div>
    </section>
    <!--== End Product Banner Area Wrapper ==-->
    <!--== Start Product Area Wrapper ==-->

    <!--<div *ngIf="topRatedProducts.length > 0">Products Loaded
      <h1 *ngFor="let product of topRatedProducts">{{product.name}}</h1>
    </div>-->

    <!--<section class="section-space pb-0">
      <div class="container">
        <div class="row mb-n4 mb-sm-n10 g-3 g-sm-6">
          <div class="col-12">
            <div class="section-title text-center">
              <h2 class="title">Top Rated<span></span></h2>
              <p>Carefully selected for their quality, performance, and customer satisfaction. See why these favorites are trusted by so many!</p>
            </div>
          </div>
          <div class="col-6 col-lg-4 mb-4 mb-sm-8" *ngFor="let product of topRatedProducts">
            <div class="product-item">
              <div class="product-thumb" style="height: 500px;">
                <a class="d-block" [routerLink]="['/product-details', product.id]">
                  <img [src]="product.image" width="370" height="450" alt="{{product.name}}">
                </a>
                <span class="flag-new" *ngIf="product.discount">Top Rated</span>
                <div class="product-action">

                  <button type="button"
                          class="product-action-btn action-btn-quick-view"
                          [routerLink]="['/reviews', product.id]">
                    <i class="fas fa-star"></i>
                  </button>




                  <button (click)="addToCart(product)" type="button" class="product-action-btn action-btn-cart" data-bs-toggle="modal" data-bs-target="#action-CartAddModal">
                    <span><i class="fas fa-shopping-cart"></i> Add to cart</span>
                  </button>

                  <button type="button" class="product-action-btn action-btn-wishlist" (click)="getProductById(product.id); $event.stopPropagation();">
                    <i class="fas fa-heart"></i>
                  </button>

                </div>
              </div>
              <div class="product-info">
                <div class="product-rating">
                  <div class="rating" [innerHTML]="generateStars(product.avgRating)"></div>
                  <div class="reviews">{{ product.reviewCount }} reviews</div>
                </div>
                <h4 class="title"><a [routerLink]="['/product-details', product.id]">{{ product.name }}</a></h4>
                <div class="prices">
                  <span class="price">${{ product.price.toFixed(2) }}</span>
                  <span *ngIf="product.discount" class="price-old">
                    ${{ calculateOldPrice(product.price, product.discount) }}
                  </span>
                </div>
              </div>
            </div>
          </div>

        </div>
      </div>
    </section>-->

  <!--== End Product Area Wrapper ==-->
    <!--== Start Testimonial ==-->
    <section class="section-space">
      <div class="container">
        <div class="row">
          <div class="col-12">
            <div class="section-title text-center">
              <h2 class="title">Loved by Thousands, Trusted by You <span style="color: red">♡</span></h2>
            </div>
          </div>
        </div>
        <div id="content">
          <div class="testimonial">
            <blockquote>
              This platform has completely changed my shopping experience! The website is beautifully designed, easy to navigate, and the product selection is fantastic. I love how seamless the checkout process is, and the fast shipping is a huge plus. Definitely my go-to for all my beauty needs!
            </blockquote>
            <div></div>
            <p>
              Sura Hailat &mdash; Amman, Jordan
            </p>
          </div>
          <div class="testimonial">
            <blockquote>
              I’ve been using this platform for months, and I’m beyond impressed! The quality of products, amazing deals, and exceptional customer service make it stand out. I also appreciate the honest reviews and detailed product descriptions, it makes shopping so much easier!
            </blockquote>
            <div></div>
            <p>
              Rudaina Alyasein &mdash; Irbid, Jordan
            </p>
          </div>
        </div>
      </div>
    </section>
  </main>


</div>
<!--== Wrapper End ==-->
